@media only screen and (max-width: 1400px) {
  .photos img {
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    width: 700px;
    height: 500px;
  }

  .photos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left_side {
    margin-bottom: 40px;
  }

  .text {
    width: 650px;
  }

  .first {
    width: 400px;
  }
}




@media only screen and (max-width: 1200px) {
 .flex {
  flex-direction: column;
 }

.text {
  width: 500px;
}


}

@media only screen and (max-width: 1092px) {

.input {
  flex-direction: column;
}

.text {
  margin-bottom: 40px;
  width: 700px;
  height: 250px;
}

.text1 {
  margin-left: 0%;
  height: 50px;
  width: 500px;
}
.contact2 {
  font-size: 35px;
  width: 430px;
}

.first {
  width: 350px;
}

}

@media only screen and (max-width: 935px) {
  .photos img {
    width: 450px;
    height: 300px;
  }

  .main-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    gap: 30px;
  }

  .text {
    width: 500px;
    height: 300px;
  }

  .text1 {
    width: 400px;
  }

.contact1 {
  font-size: 16px;
}

.contact2 {
  font-size: 30px;
  width: 370px;
}


}



@media only screen and (max-width: 800px) {
  .right_side {
    gap: 30px;
    display: block;
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .photos img {
    width: 300px;
    height: 200px;
  }

  .text {
    width: 400px;
  }
  .right_side {
    width: 300px;
  }

  .navs {
    width: 300px;
    padding-bottom: 30px;
  }
}



@media only screen and (max-width: 700px) {
  .contact1 {
    font-size: 12px;
  }

  .contact2 {
    font-size: 20px;
    width: 245px;
    line-height: 30px;
  }

  .first {
    width: 200px;
  }
.text {
  height: 150px;
  width: 300px;
}

.text1 {
  height: 30px;
  width: 300px;
}

}








































































